.hero {
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
  height: 100vh;
  overflow-y: scroll;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vw;
  gap: 34px;
}
.mob_info {
  text-align: center;
  flex: 1;
}
.mob_info_heading {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #240d57;
  margin-bottom: 1rem;
}
.mob_info_heading_style {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.mob_info_sub {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #4f4f4f;
}
.hero_img {
  flex: 1;
  height: 50vh;
}
.hero_img img {
  height: inherit;
  width: 100%;
  object-fit: contain;
}
.hero_cta {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 187px;
  height: 50px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  border: none;
}
a {
  color: white;
  text-decoration: none;
}
